[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ENM185/ohmyzsh
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/vim/pack/vendor/start/nerdtree"]
	path = .vim/vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
